*, *::before, *::after {
  box-sizing: border-box;
}

.bg-white{
  background-color: #ffffff;
}

.d-flex {
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-1{
  flex: 1;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between{
  justify-content: space-between;
}

.text-center{
  text-align: center;
}

.padded-content{
  padding: 15px 20px;
}

.m-0 {
  margin: 0;
}


.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-2{
  margin-top: 10px;
}

.mt-3{
  margin-top: 15px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.p-0{
  padding: 0;
}

.p-3{
  padding: 15px;
}

.img-wrap img{
  width: 100%;
}

.upload {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
}

.upload-full {
  width: 100%;
  height: 90px;
  background-color: #ffff;
}

.assets-thumbnail .ant-card-cover {
  width: 100%;
  height: 150px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.assets-thumbnail .ant-card-cover img {
  width: 100%;
  max-height: 100%;
}

.assets-thumbnail .ant-card-body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px;
  border-top: 1px solid rgb(240, 240, 240);
  position: relative;
}

.assets-thumbnail .ant-card-body .title {
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.assets-thumbnail .ant-card-body .deleteIcon {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.assets-thumbnail:hover .ant-card-body .deleteIcon {
  display: block;
}

.thumbnail-preview {
  width: 100%;
  max-height: 300px;
}

.thumbnail-preview img {
  max-width: 100%;
}

.modal-image .ant-modal-content{
  background-color:transparent
}

.modal-image .ant-modal-close{
  right: -40px;
  top: -30px;
}

.modal-image .ant-modal-close-x{
  font-size: 40px;
  color: #5e5e5e;
}

.modal-image .ant-modal-close-x:hover{
  color: #ffffff;
}

.modal-audio .ant-modal-content{
  background-color: transparent;
  box-shadow:unset;
}

.form-title {
  position: relative;
}

.form-title .line {
  position: absolute;
  width: 2px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1890ff;
}

.form-title .title {
  padding-left: 1.5rem;
  font-size: 16px;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.resource-wrap{
  width:4rem;
  height:3rem;
  line-height:3rem;
  overflow:hidden;
  display:inline-block;
}

/* common */

.ant-layout-footer .ant-pro-global-footer {
  margin: 0 0 20px 0;
}